{% extends "web/layout.html" %}

{% block title %} Trabajos de investigación {% endblock %}

{% block content %}
<section class="papers">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span>Trabajos de</span>
            <span>investigación</span>
        </h1>
    </section>
    <section class="diary trama">
        <div class="container ">
            <!--<h2 class="gold-title mb-0">Agenda</h2>-->
            <h3 class="twilight-blue-subtitle">
                Inicio de inscripciones de Trabajos de Investigación: 23 de marzo <br>

            </h3>

        </div>
    </section>
</section>
{% endblock content %}