{% extends "web/layout.html" %}

{% block title %} Programa {% endblock %}

{% block content %}
<section class="schedule">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span>Programa</span>
        </h1>
    </section>
    <section class="diary trama">
        <div class="container">
            <!--<h2 class="gold-title mb-0">Agenda</h2>-->
            <h3 class="twilight-blue-subtitle">
                Sigue el programa <br>
            </h3>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                {% for item in schedule %}
                    <li class="nav-item m-4">
                        <a class="btn light" id="{{ item.tab }}-tab" data-toggle="tab" href="#{{ item.tab }}" role="tab"
                            aria-controls="{{ item.tab }}" aria-selected="false">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="days my-5 tab-content" id="myTabContent">
                {% for item in schedule %}
                    <div class="tab-pane fade {{ 'show active' if loop.index-1==0 else ''}}" id="{{ item.tab }}" role="tabpanel" aria-labelledby="{{ item.tab }}-tab">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                            {% for data in item.data %}
                                <div class="day">
                                    <div class="text-center">
                                        <p class="fs-22 fc-twilight-blue text-center">{{ data.description }}</p>
                                        <p class="fs-16 fc-twilight-blue text-center">{{ data.date }}</p>
                                    </div>
                                    {% for session in data.sessions %}
                                        <div class="time {{ data.class }}">
                                            <p class="fs-20 fc-medium fc-white">{{ session.name }}</p>
                                            <p class="fs-15 fc-medium fc-white">{{ session.room }}</p>
                                            <p class="fs-15 fc-medium fc-white">{{ session.hour }}</p>
                                        </div>
                                        <div class="description">
                                            <p class="fs-15 fc-medium">{{ session.description }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock content %}