{% extends "web/layout.html" %}

{% block title %} Alojamientos y servicios {% endblock %}

{% block content %}
<section class="stay">
    <section class="background view trama right">
        <h1 class="title-with-stroke">
            <span>Conoce más </span>
            <span>de Lima.</span>
        </h1>
    </section>
    <section class="accommodation">
        <div>
            <div class="container">
                <!-- <h2 class="gold-title mb-0">Agenda</h2> -->
                <h3 class="twilight-blue-subtitle">
                    Alojamientos <br>
                    y servicios
                </h3>
            </div>

            <div class="hotels">
                <div id="carouselExpositors" class="carousel slide" data-ride="carousel" pause="hover">
                    <div class="carousel-inner h-100">
                        <div class="hotel-marriot h-100">
                            <div>
                                <p class="name">Westin Lima Hotel <br> <span style="font-size:36px;">Sede Oficial</span>  </p>
                                <p class="location">
                                    Calle Las Begonias 450, <br>
                                    San Isidro
                                </p>
                            </div>
                            <div class="mt-auto">
                                <a href="https://thewestinlimahotel.com-lima.com/" target="_blank" class="btn light">
                                    Contactar
                                    <i class="flaticon-arrow-point-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {# <a class="carousel-control-prev" href="#carouselExpositors" role="button" data-slide="prev">
                        <i class="flaticon-arrow-point-to-right rotate"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExpositors" role="button" data-slide="next">
                        <i class="flaticon-arrow-point-to-right"></i>
                        <span class="sr-only">Next</span>
                      </a> #}
                </div>
                <div class="locations">
                    <i class="flaticon-tourism"></i>
                    <h3 class="where-to-go">A donde ir</h3>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="" id="san-isidro-tab" data-toggle="tab" href="#san-isidro" role="tab"
                                aria-controls="san-isidro" aria-selected="true">
                                San Isidro
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="miraflores-tab" data-toggle="tab" href="#miraflores" role="tab"
                                aria-controls="miraflores" aria-selected="false">
                                Miraflores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="" id="barranco-tab" data-toggle="tab" href="#barranco" role="tab"
                                aria-controls="barranco" aria-selected="false">
                                Barranco
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="san-isidro" role="tabpanel" aria-labelledby="san-isidro-tab">
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Paseo en barco por <br> las Islas Palomino</p>
                                <p class="description">
                                    ¿Amante de la naturaleza? Surca las aguas del Pacífico Sur y explora la atractiva vida marina
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Tour privado por Lima</p>
                                <p class="description">
                                    Lima, llena de influencias y secretos, te espera para que descubras sus rincones más populares
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Autobús turístico de Lima</p>
                                <p class="description">
                                    Descubre por qué Lima es conocida como la Ciudad de los Reyes en un autobús descapotable.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="miraflores" role="tabpanel" aria-labelledby="miraflores-tab">
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Paseo en barco por <br> las Islas Palomino</p>
                                <p class="description">
                                    ¿Amante de la naturaleza? Surca las aguas del Pacífico Sur y explora la atractiva vida marina
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Tour privado por Lima</p>
                                <p class="description">
                                    Lima, llena de influencias y secretos, te espera para que descubras sus rincones más populares
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Autobús turístico de Lima</p>
                                <p class="description">
                                    Descubre por qué Lima es conocida como la Ciudad de los Reyes en un autobús descapotable.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="barranco" role="tabpanel" aria-labelledby="barranco-tab">
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Paseo en barco por <br> las Islas Palomino</p>
                                <p class="description">
                                    ¿Amante de la naturaleza? Surca las aguas del Pacífico Sur y explora la atractiva vida marina
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Tour privado por Lima</p>
                                <p class="description">
                                    Lima, llena de influencias y secretos, te espera para que descubras sus rincones más populares
                                </p>
                            </div>
                            <div class="divider"></div>
                            <div class="item">
                                <p class="title">Autobús turístico de Lima</p>
                                <p class="description">
                                    Descubre por qué Lima es conocida como la Ciudad de los Reyes en un autobús descapotable.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hyatt-centric">
                    <div id="carouselExpositors" class="carousel slide h-50" data-ride="carousel" pause="hover">
                        <div class="carousel-inner h-100">
                            <div class="wallpaper"></div>
                        </div>
                        {# <a class="carousel-control-prev" href="#carouselExpositors" role="button" data-slide="prev">
                            <i class="flaticon-arrow-point-to-right rotate"></i>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExpositors" role="button" data-slide="next">
                            <i class="flaticon-arrow-point-to-right"></i>
                            <span class="sr-only">Next</span>
                          </a> #}
                    </div>
                    <div class="content">
                        <img src="{{ url_for('.static', filename='web/assets/img/brands/lavista.png')  }}" alt="La Vista">
                        <div class="divider"></div>
                        <p class="fs-13 fw-medium">
                            Un buen ambiente y deliciosa experiencia en platos criollos e internacionales , en el Hotel
                            Marriott, frente a Larcomar en el distrito de Miraflores.
                        </p>
                        <div class="divider"></div>
                        <a href="#" class="btn dark">
                            Ver más
                            <i class="flaticon-arrow-point-to-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}