{% extends "register/layout.html" %}

{% block form %}
    <div class="tab-pane fade active show" id="confirm" role="tabpanel" aria-labelledby="confirm-tab">
    <div class="text-center">
        <div class="mb-4">
            <i class="flaticon-pos"></i>
        </div>
        <p class="fw-black fs-25">¡Gracias!</p>
        <p class="fw-medium fs-27 my-4">Pago exitoso</p>
        <p class="fw-medium fs-27">¡Que tengas un gran día!</p>
{#         <div class="my-5">
            <a href="#" class="btn dark">
                Ver factura
                <i class="flaticon-arrow-point-to-right"></i>
            </a>
        </div>
 #}    </div>
</div>
{% endblock form %}
