{% extends "web/layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<section class="register">
    <section class="background view trama right">
        <div class="main-container">
            <h1 class="title-with-stroke">
                <span></span>
                <span>Registro</span>
            </h1>
        </div>
    </section>
    <section class="payment trama">
        <div class="cont main-container">
            <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                        aria-selected="true"></a>
                    <p>Datos de delegado</p>
                </li>
                <li class="nav-item delegate student">
                    <a class="nav-link" id="assistants-tab" data-toggle="tab" href="#assistants" role="tab" aria-controls="assistants"
                        aria-selected="false"></a>
                    <p>Asistentes</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ticket-tab" data-toggle="tab" href="#ticket" role="tab" aria-controls="ticket"
                        aria-selected="false"></a>
                    <p>Entradas</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                        aria-selected="false"></a>
                    <p>Información adicional</p>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="workshops-tab" data-toggle="tab" href="#workshops" role="tab" aria-controls="workshops"
                        aria-selected="false"></a>
                    <p>Salas Paralelas</p>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
                        aria-selected="false"></a>
                    <p>Pago</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="confirm-tab" data-toggle="tab" href="#confirm" role="tab" aria-controls="confirm"
                        aria-selected="false"></a>
                    <p>Confirmación</p>
                </li>
            </ul>
            <div class="tab-content container-fluid pt-5" id="myTabContent">
                {% block form %}
                {% endblock form %}
            </div>
        </div>
    </section>
</section>
{% endblock content %}

{% block javascripts%}
<script src="/static/web/assets/js/register.js"></script>
{% endblock javascripts%}