{% extends "register/layout.html" %}

{% block title %} Register assistants {% endblock %}
{% block css%}
<script
   src="https://static.payzen.lat/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
   kr-public-key="75075822:testpublickey_OMwS9yDljeEEccvP5C19Bw5LpGUqA1Bssw0LFTjig2HCZ"
   kr-post-url-success="/register/payment">
</script>

<link rel="stylesheet"
  href="https://static.payzen.lat/static/js/krypton-client/V4.0/ext/classic-reset.css">
 <script
  src="https://static.payzen.lat/static/js/krypton-client/V4.0/ext/classic.js">
 </script>
{% endblock%}

{% block form %}
<div class="tab-pane fade active show" id="payment" role="tabpanel" aria-labelledby="payment-tab">
    <div class="row">
        <div class="col-12 col-lg-4 mb-5">
            <p class="fw-bold fs-30 fc-twilight-blue">
                Método de pago
            </p>
            <ul class="payment-methods text-center">
                <li class="payment-method">
                    <img src="/static/web/assets/img/icon/credit-card.svg" alt="Tarjeta de crédito">
                    <p class="fs-14 mt-3">Tarjeta de crédito</p>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="tickets-head">
                        <p class="text">
                            Tus entradas <span>{{ tickets | length }}</span>
                        </p>
                        <div class="line"></div>
                        <p class="price">{{ ticket_price_total }} /.s</p>
                    </div>
                </div>
                {% for ticket in tickets %}
                    <div class="col-12 col-md-6 mb-5">
                        <div class="ticket">
                            <div class="text-center mr-4">
                                {% for date in ticket.dates %}
                                    <p class="fw-extra-light fs-27">{{date}}</p>
                                {% endfor%}
                                <p class="fw-extra-light fs-14">NOV</p>
                            </div>
                            <div>
                                <p class="fw-medium fs-14 fc-twilight-blue">
                                    6th Latin American Forum on <br>
                                    Quality and Safety in Healthcare
                                </p>
                                <p class="fw-medium fs-12 fc-grey-b mt-4">
                                    {{ ticket.service }}
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="fw-medium fs-14 fc-light-grey mt-5">
                                {{ ticket.name }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- payment form -->
              <div class="kr-embedded"
               kr-form-token="{{form_token}}">

                <!-- payment form fields -->
                <div class="kr-pan"></div>
                <div class="kr-expiry"></div>
                <div class="kr-security-code"></div>

                <!-- payment form submit button -->
                <button class="kr-payment-button"></button>

                <!-- error zone -->
                <div class="kr-form-error"></div>
              </div>
        </div>
    </div>

</div>

{% endblock form %}
