{% extends "register/layout.html" %}

{% block title %} Register assistants {% endblock %}
{% block css%}
<script
   src="https://static.payzen.lat/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
   kr-public-key="{{payzen_public_key}}"
   kr-post-url-success="/register/payment">
</script>

<link rel="stylesheet"
  href="https://static.payzen.lat/static/js/krypton-client/V4.0/ext/classic-reset.css">
 <script
  src="https://static.payzen.lat/static/js/krypton-client/V4.0/ext/classic.js">
 </script>
{% endblock%}

{% block form %}
<div class="tab-pane fade active show" id="payment" role="tabpanel" aria-labelledby="payment-tab">
    <div class="row">
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="tickets-head">
                        <p class="text">
                            Tus entradas <span style="color:#fff;">{{ tickets | length }}</span>
                        </p>
                        <div class="line"></div>
                        <p class="price">{{ ticket_price_total }} /.s</p>
                    </div>
                </div>

                <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ticket</th>
                          {# <th scope="col">Cantidad</th> #}
                          <th scope="col">Precio</th>
                          {# <th scope="col">Total</th> #}
                        </tr>
                      </thead>
                      <tbody>
                    {% for ticket in tickets %}
                        <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td>{{ticket.name}}</td>
                          {# <td>{{ 1 }}</td> #}
                          <td>{{ticket.price}}</td>
                          {# <td>{{ticket.price * 1}}</td> #}
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p class="fw-bold fs-20 fc-twilight-blue">
                        Promocode
                    </p>
                        {% if promocode == False %}
                            <form name='promocodeForm' method="GET" action="{{url_for('register_blueprint.payment')}}" class="col-8 mt-3 p-0">
                                <input class="form-control" type="text" name='promocode' placeholder="Promocode" />
                                <button type="submit" class="form-control dark mt-3">Validar</button>
                            </form>
                        {% endif %}
                </div>

            <!-- payment form -->
            <div class="col-12 col-lg-8">

                <p class="fw-bold fs-20 fc-twilight-blue text-center mb-3">
                        Formulario de pago
                    </p>
              <div class="kr-embedded "
               kr-form-token="{{form_token}}" style="margin:0 auto;width:300px;text-align:center;">
                <!-- payment form fields -->
                <div class="kr-pan"></div>
                <div class="kr-expiry"></div>
                <div class="kr-security-code"></div>

                <!-- payment form submit button -->
                <button class="kr-payment-button" style="width:100%;"></button>

                <!-- error zone -->
                <div class="kr-form-error"></div>
              </div>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock form %}
